{% extends "base.html" %}
{% set active_page = "tutorials" %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bower_components/easy-tree/src/easyTree.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bower_components/easy-tree/css/easyTree.css') }}">
<style type="text/css">
.easy-tree {
    background-color: #428bca;
    border: 1px solid #ddd;
}
</style>
{% endblock extra_head %}


{% macro subdir_tree(tutorial, subdir) -%}
<div class="panel panel-default">
  <div class="panel-heading"><b>{{subdir}}</b> - View Files</div>
  <div class="panel-body">
<div class="easy-tree">
<ul>
{%- for item in tutorial.subdir_info[subdir]['tree'].children recursive %}
    <li>
    {%- if item.children -%}
        <span class="blue">{{ item.name }}</span>
        <ul>{{ loop(item.children) }}</ul>
    {% else %}
        <span class="blah">{{item.name}}|view/{{subdir}}/{{item.file_id}}</span>
    {%- endif %}</li>
{%- endfor %}
</ul>
</div>
  </div>
</div>

{%- endmacro %}


{% block content %}

<div class="container">
<div class="row">
<div class="col-md-3">

<div class="clearfix">&nbsp;</div>

{% block sidebar %}
{% endblock sidebar %}

</div>

<div class="col-md-9">

<div class="clearfix">&nbsp;</div>

{% block tutorial_content %}
{% endblock tutorial_content %}

</div>

</div><!--row-->
</div><!--container-->

{% endblock content %}


{% block extra_footer %}
<script>
$(document).ready(function(){
    $('.easy-tree').EasyTree({
                selectable: true,
                addable: false,
                editable: false,
                deletable: false
            });

    $('.easy-tree').find('li > span > a').click(function (e) {
        console.log($.trim(e.target.innerHTML));
    });
});
</script>
{% endblock extra_footer %}
