{% extends "pages/about/base.html" %}
{% set active_subpage = "mission" %}

{% block about_content %}


<div class="clearfix">&nbsp;</div>
<div class="panel panel-default">
  <div class="panel-heading" style="font-weight:bold">
  Our Mission</div>
  <div class="panel-body" style="text-align:center">
    To inspire a love for coding in New Haven high schoolers, by showing them
    the doors coding can unlock, and then giving them the keys.
  </div>
</div>

<h2>We're Different</h2>

<p>If you want to code, you can choose from any number of options.
You can watch Youtube videos, read books, join online classes,
and even pay for school. Over the past few years, an entire
industry has grown around the idea of teaching people how to program.
Great! The problem?</p>

<div class="alert alert-danger" role="alert">
<strong>All the current options assume you are
a passive learner.</strong>
</div>

<p>
At Code New Haven, we do not make this assumption.
We know that the best way to learn how to code is to
<em>just code something,</em> but we also know that's
easier said than done.
</p>


<h2>A Better Option</h2>

<p>Did a whole generation of programmers forget how they learned to code?</p>

<p>Not long ago,

<p>Once people decide to learn programming, they look for resources. Nowadays,
there are thousands of resources and ways to learn coding, all at your fingertips.
You can join a "hacker school," you can read books, watch videos, or participate
in interactive online programs. The problem with all these solutions is that
they assume passive learning.</p>

Nowadays, you can learn to code anywhere. You can join schools, buy books,
watch videos, or use online programs. The problem with all these solutions
is that they're created by people who learned how to program, but then
forgot how they learned.


{% endblock about_content %}
